<div class="friend-unit" id="match_<%= match.id %>">
	       	<div class="friend-photo">
			  	<a href="#">
			    	<img src="http://graph.facebook.com/<%= match.matchee.uid %>/picture?type=square" alt="Picture?type=square">
				</a>
			</div>
			<div class="friend-name">
			   	<a href="#">
			    	<%= match.matchee %>
				</a>			
		</div>
	<div class="float-break"></div>
</div>
