	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/100001928252100/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Remy Deutsch
			<span style="float:right;" id="100001928252100" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1361340169/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Michelle Birnbach
			<span style="float:right;" id="1361340169" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1019220131/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Amanda Snyder
			<span style="float:right;" id="1019220131" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1054512674/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Audrey Sahin
			<span style="float:right;" id="1054512674" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1361340429/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Cody Hakimian
			<span style="float:right;" id="1361340429" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1373700569/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Elyssa Goldberg
			<span style="float:right;" id="1373700569" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/1361340707/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Jeremy Gilston
			<span style="float:right;" id="1361340707" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>
	  <div style="border-top:1px solid #eee;padding-top:6px;" class="friend-unit">
	   	<div class="friend-photo">
		  <img src="http://graph.facebook.com/543792723/picture?type=square" alt="Picture?type=square">
		</div>
		<div class="friend-name">
			Jordan Valentine
			<span style="float:right;" id="543792723" class="btn btn-small View">View</span>
		</div>
		<div class="float-break"></div>
	  </div>