<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container-fluid">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
         	  <a href="<%= root_path %>" class="brand" style="color:#0088CC;" >matchu<span 
            style="color: #06f;">me</span></a>
            <div class="divider"></div>

            <%= form_tag "#", :id => 'searchForm', :class => "navbar-search", :style => "position:absolute; left: 320px;" do |f| %>
              <input type="text" placeholder="Search a crush..." class="search-query token_input" id="searchInput">
            <% end %>
            
         <div class="btn-group pull-right" id="alerts">
            <%= render 'matches/alert_matches' %>
         </div>

          <div class="nav-collapse">
            <ul class="nav">
				  
				
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>

