<h3>Find Matches</h3>		
				<br>
		
				<div class="well">
					<div class="control-group">
			            <div class="controls">
			                <div class="input-prepend">
			                    <span class="add-on">
			                        <i class="icon-search"></i>
			                    </span>
			                    <input type="search" class="span3" placeholder="Search" name="search" 
								id="search" style="width:150px;"/>
			                </div>
			            </div>
			        </div>
				</div>
				
				<div style="padding:10px;" class="well">
					<h5>Recommended Matches</h5>
					<%= render "users/recommended" %>
				</div>
			</div>
</div>






