<div class="container">
	<div class="row">
	
  <div class="span3">
	<div class="profile-main-photo-container">
  <img src="http://graph.facebook.com/568675458/picture?type=large" alt="Picture?type=large">
</div>
<br>
<div class="stats">
	<a href="/users/ipk9vr4j/following">
	  <strong class="stat" id="following">
	    1
	  </strong>
	  following
	</a>

	<a href="/users/ipk9vr4j/followers">
	  <strong class="stat" id="followers">
	    0
	  </strong>
	  karma
	</a>
	
</div>
<div style="margin-bottom:8px"></div>


<div class="score-container">
  <a href="/users/ipk9vr4j/following"><h4>Matches (1)</h4></a> 
        <div class="friend-unit">
	       	<div class="friend-photo">
			  <a href="/users/k2qjkvf1">
			    <img src="http://graph.facebook.com/1381200197/picture?type=square" alt="Picture?type=square">
</a>			</div>
			<div class="friend-name">
			   <a href="/users/k2qjkvf1">
			     Alex Ingram
</a>			</div>
			<div class="float-break"></div>
	    </div>
</div>
  </div>

  <div style="margin-bottom:20px; position:absolute; left: 305px;" class="span11">
	
	
	<div class="row">

	  		<div class="span7">
			 	<div class="alert alert-success">Feed</div>
			</div>
			<div class="span4">
			    <a style="float:right;" class="btn btn-small btn-primary" 
				data-toggle="modal" href="#myModal">Filters</a>
				<%= render "search"%>
 <hr/>
<p style="text-align:center;" class="footer">&copy; MatchUMe 2012</p>				