<div class="modal hide" id="settings_modal">
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <div><h1 class='hBig'>User Settings</h1></div>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class='active'><a href="#basic" data-toggle="tab">Options</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id="basic">
            <%= button_to "Delete my account", current_user, :method=>:delete, :class=>"btn btn-danger", :confirm => "You sure?" if current_user.matches.count.zero? %>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>
</div>
