// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
	border:1px solid #b8b8b8;
	padding:2px;
	margin-right:3px;
	background-color:#ffffe8;
}

.question {
	padding:3px;
}